*.lo
*.mod
*.o
*~
.libs
Makefile
Makefile.in
a.out
libtool
libtouza.la
libtouza_local.la
stamp-h1
gmon.out
.deps
/INSTALL
/aclocal.m4
/aminclude_static.am
/autom4te.cache
/build-aux
/cal/*.trs
/cal/auto.log
/cal/auto.p.log
/cal/grego_i.log
/cal/grego_i.p.log
/cal/grego_l.log
/cal/grego_l.p.log
/cal/ideal.log
/cal/ideal.p.log
/cal/ils.30360.log
/cal/ils.grego.log
/cal/ils.noleap.log
/cal/log
/cal/matsiro.365.log
/cal/matsiro.grego.log
/cal/test-suite.log
/cal/test_calendar
/cal/test_calendar_comp
/cal/test_calendar_ils
/cal/test_calendar_matsiro
/cal/test_calendar_trad
/cal/wtc.sh
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/div/test_div_scan
/div/test_div_tile
/div/test_div_zone
/emu/test_emu_usi
/m4c/libtool.m4
/m4c/ltoptions.m4
/m4c/ltsugar.m4
/m4c/ltversion.m4
/m4c/lt~obsolete.m4
/makeshift
/std/test_std
/std/test_std_arg
/std/test_std_env
/std/test_std_fun
/std/test_std_log
/std/test_std_mwe
/std/test_std_prc
/std/test_std_utl
/test_touza
/touza_config.h
/touza_config.h.in
/cal/ucaln.F
/cal/miroc.h
/cal/test_calendar_core
