*.o
*.lo
*~
a.out
/.libs
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/touza_config.h
/touza_config.h.in
/config.log
/config.status
/configure
libtool
libtouza.la
stamp-h1
/test_touza
*.mod
/INSTALL
/aminclude_static.am
/m4c/libtool.m4
/m4c/ltoptions.m4
/m4c/ltsugar.m4
/m4c/ltversion.m4
/m4c/lt~obsolete.m4
