*.mod
*.o
a.out
*~
*.lo
/test_base
/test_mi6
/caltest_base
/caltest_mi6
/caltest_base_k*
/caltest_mi6_k*
/test_calendar_trad
/test_calendar_comp
/.deps/
/.libs/
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/libtouza_calendar.la
/libtouza_local.la
/ltmain.sh
/missing
/stamp-h1
/build-aux/
/*.log
/*.trs
/test
/config.cache
/INSTALL
/test_calendar_matsiro
/test_calendar_ils
/wtc.sh
/log/
/aminclude_static.am
/README-cal.html
