*~
*.o
*.lo
*.la
*.mod
a.out
.libs/
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/m4/libtool*.m4
/build-aux/m4/lt*.m4
/build-aux/missing
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/fort.10
/libtool
/stamp-h1
/test_std
/test_std_env
/test_std_log
/aminclude_static.am
/test_std_fun
/test_std_prc
/gmon.out
/test_std_arg
